* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #f5f5f5;
    z-index: 9;
}
.nav {
    padding: 10px 10vw;
    display: flex;
    justify-content: space-around;
}
.brand-logo {
    height: 50px;
}
.nav-items {
    display: flex;
    align-items: center;
}
.search {
    width: 500px;
    display: flex;
}
.search-box {
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: none;
    color: #a9a9a9;
    outline: none;

}
.search-btn {
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #383838;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.search-box::placeholder {
    color: #afa9a9;
}
.nav-items a {
    margin-left: 20px;
}
.nav-items a img {
    width: 30px;
}
.links-container {
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top-right-radius: 1px solid #d1d1d1;
}
.link {
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #272626;
    opacity: 0.5;
    transition: 0.5s;
}
.link:hover {
    opacity: 1;
}
.hero-section {
    width: 100%;
    height: calc(100vh - 120px);
    background-image: url(back-one.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section .logo {
    height: 150px;
    display: block;
    margin: auto;
}
.hero-section .sub-heading {
    margin-top: 10px;
    padding-left: 800px;
    animation: effect 2s linear infinite;
    text-align: center;
    color: white;
    text-transform: capitalize;
    font-size: 90px;
    font-weight: bolder;
}

@keyframes effect {
    0% {
        color: red;
    }
    25% {
        color: brown;
    }
    0% {
        color: whitesmoke;
    }
    100% {
        color: grey;
    }
}

.product {
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}
.product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}
.product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.product-container::-webkit-scrollbar {
    display: none;
}
.product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}
.product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.product-thumb {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.discount-tag {
    position: absolute;
    background: white;
    padding: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}
.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: white;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}
.product-card:hover .card-btn {
    opacity: 1;
}
.card-btn:hover {
    background: #efefef;
}
.product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}
.product-brand {
    text-transform: uppercase;
}
.product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    margin: 5px 0;
    opacity: 0.5;
    text-transform: capitalize;
}.price {
    font-weight: 900;
    font-size: 20px;

}
.actual-price {
    text-decoration: line-through;
    margin-left: 20px;
    opacity: 0.5;
}
.previous-btn, .next-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 100%);
    cursor: pointer;
    z-index: 8;
}

.previous-btn {
    left: 0;
    transform: rotate(180deg)
}
.next-btn {
    right: 0;
}
.previous-btn img, .next-btn img {
    opacity: 0.2;
}
.previous-btn:hover img, .next-btn:hover img {
    opacity: 1;
}
.layout {
    background: grey;
    width: 100%;
    height: 25vw;
}

/* footer */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.footer {
    background-color: #24262b;
    padding: 70px 0;
}
.container {
    max-width: 1170px;
    /* background-color: red; */
    margin: auto;
}
ul {
    list-style: none;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.footer-col {
    width: 25%;
    padding: 0 15px;
}
.footer-col h4 {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    width: 50px;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: white;
    padding-left: 7px;
}